body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #121212;
  color: #f1f1f1;
  line-height: 1.5;
  padding: 1.5rem;
}

.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.profile-pic {
  width: 70%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.bio {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.links h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.links a {
  display: block;
  margin: 0.4rem 0;
  text-decoration: none;
  color: #0057e7;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  .bio {
    font-size: 1.2rem;
  }
}
.player-bar {
  width: 100%;
  background-color: transparent; 
  position: relative;
  transition: all 0.3s ease;
}

.toggle-player {
  position: absolute;
  right: 8px;
  background: transparent;
  color: #aaa;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}

.player-hidden #playerContent {
  display: none;
}

.player-hidden {
  background: transparent !important;
  box-shadow: none !important;
}


.top-nav {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.top-nav a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.5rem;
}

.top-nav a:hover {
  opacity: 0.7;
}
